aiodns==3.2.0
aiohappyeyeballs==2.6.1
aiohttp==3.10.11
aiosignal==1.3.2
asttokens==3.0.0
attrs==25.3.0
black==25.1.0
ccxt==4.4.72
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
click==8.1.8
colorama==0.4.6
comm==0.2.2
contourpy==1.3.1
cryptography==44.0.2
cycler==0.12.1
dateparser==1.2.1
decorator==5.2.1
dill==0.3.9
executing==2.2.0
flake8==7.2.0
fonttools==4.56.0
frozenlist==1.5.0
idna==3.10
imageio==2.37.0
ipython==9.0.2
ipython_pygments_lexers==1.1.1
ipywidgets==8.1.5
jedi==0.19.2
joblib==1.4.2
jupyterlab_widgets==3.0.13
kaleido==0.2.1
kiwisolver==1.4.8
llvmlite==0.44.0
matplotlib==3.10.1
matplotlib-inline==0.1.7
mccabe==0.7.0
multidict==6.2.0
mypy-extensions==1.0.0
numba==0.61.0
numpy==2.1.3
packaging==24.2
pandas==2.2.3
parso==0.8.4
pathspec==0.12.1
pillow==11.1.0
platformdirs==4.3.7
plotly==5.24.1
prompt_toolkit==3.0.50
propcache==0.3.1
pure_eval==0.2.3
pycares==4.5.0
pycodestyle==2.13.0
pycparser==2.22
pycryptodome==3.22.0
pyflakes==3.3.2
Pygments==2.19.1
pyparsing==3.2.3
python-binance==1.0.28
python-dateutil==2.9.0.post0
pytz==2025.2
regex==2024.11.6
requests==2.32.3
schedule==1.2.2
scikit-learn==1.6.1
scipy==1.15.2
six==1.17.0
stack-data==0.6.3
ta==0.11.0
tenacity==9.1.2
threadpoolctl==3.6.0
tqdm==4.67.1
traitlets==5.14.3
typing_extensions==4.13.0
tzdata==2025.2
tzlocal==5.3.1
urllib3==2.3.0
vectorbt==0.27.2
wcwidth==0.2.13
websockets==15.0.1
widgetsnbextension==4.0.13
yarl==1.18.3
